chardet==4.0.0
gensim==4.3.0
pandas==2.2.1
pyLDAvis==3.4.0
numpy==1.24.3
scipy==1.10.1
scikit-learn==1.2.2
matplotlib==3.7.1
nltk==3.7
ipywidgets==8.0.4
tqdm==4.65.0
seaborn==0.12.2
plotly==5.9.0
statsmodels==0.14.0
sympy==1.11.1
xgboost==2.0.3
torch==2.0.1
dask==2023.6.0
sqlalchemy==1.4.39
flask==2.2.2
jupyterlab==3.6.3
requests==2.29.0
beautifulsoup4==4.12.2
scrapy==2.8.0
jaydebeapi==1.2.3